@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--body_color);
  /* color: #fff; */
}

.coin-app {
  display: flex;
  flex-direction: column;
  margin-top: 104px;
  align-items: center;
  color: var(--head_color);
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
  text-transform: capitalize;
}

.coin-input {
  padding: 24px;
  width: 400px;
  height: 50px;
  border-radius: 24px;
  border: none;
  font-size: 16px;
  background-color: var(--input_color);
  color: var(--head_color);
  text-transform: capitalize;
  border: 1px solid var(--head_color);
}

.coin-input::placeholder {
  color: var(--head_color);
}

.coin-details {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #FF9332;
  height: 100px;
  width: 1000px;
  font-size: 18px;
}

.name {
  width: 325px;
  color: var(--head_color);
}

.price {
  width: 160px;
  color: var(--head_color);
}

.volume {
  width: 155px;
  color: var(--head_color);
}

.change {
  width: 190px;
  color: var(--head_color);
}

.mktcap {
  color: var(--head_color);
}